# git global options, refer to https://git-scm.com/docs/git-config
[user]
    name = Feng.YJ
    email = jxfengyijie@gmail.com
    signingkey = 67D4F264AF9D2C4C

[core]
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    # Set vim as the default editor
    editor = vim
    # setting for windows os
    # autocrlf = false
    # safecrlf = true
    # use built-in OpenSSH for 1Password SSH agent on Windows
    # sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[init]
    defaultBranch = main

[color]
    ui = true
    diff = auto
    branch = auto
    status = auto
    interactive = auto

[commit]
    gpgsign = true
    # conventional git commit message specification
    template = ~/.gitmessage

[blame]
    # specify certain commits that should be ignored in git-blame
    ignoreRevsFile = ~/.git-blame-ignore-revs

[tag]
    gpgSign = true

[push]
    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true

# For Windows, use git-credential-manager to securely store and manage credentials.
# https://git-scm.com/docs/gitcredentials/2.51.0#_available_helpers
# [credential]
#     helper = manager

[github]
    user = huiyifyj

# User socks5 proxy
# more recommend to use TUN/TAP adapter mode for CN network
# [http]
#     proxy = socks5://127.0.0.1:1080
# [https]
#     proxy = socks5://127.0.0.1:1080

[alias]
    # View the current working tree status using the short format
    s = status -s
    # Create tag with gpgsign
    t = tag -s
    # Amend the previous commit without changing its commit message
    ca = commit --amend --no-edit
    # Switching branch
    ck = checkout
    # Show difference between working tree and the index
    d = diff
    # Show difference except for untracked files
    dc = diff --cached
    # Display all branches sorted by last commit date
    ba = branch -a --sort=-committerdate
    # Display log information with graph and color
    g = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset' --abbrev-commit --date=relative
    # Update all submodules, and init
    su = submodule update --init --recursive
    # Show all aliases
    al = !git config --get-regexp alias | sed 's/^alias\\.//g' | sed 's/[ ]/ = /'
