# vscode
.vscode

# vim and swap
.vim
*.swp

# JetBrains IDEs
*.iml
.idea

# Go Modules
go.sum
go.work.sum

# rust cargo
Cargo.lock
target

# zig
.zig-cache
zig-out

# nvm, node, npm, yarn, pnpm, bun
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock
bun.lockb
.nvmrc
.npmrc

# macOS
.DS_Store
._*

# binaries for programs and plugins
*.exe
*.exe~
*.bin
*.out
*.app
# static libraries
*.lib
*.a
# shared libraries
*.dll
*.so
*.dylib

# database files
*.db
*.sqlite
*.sqlite3

# might appear on external disks
.Spotlight-V100
.Trashes
.fseventsd
