# git global options, refer to https://git-scm.com/docs/git-config
[user]
    name = huiyifyj
    email = jxfengyijie@gmail.com
    signingkey = 67D4F264AF9D2C4C

[color]
    ui = true
    diff = auto
    branch = auto
    status = auto
    interactive = auto

[alias]
    # View the current working tree status using the short format
    s = status -s
    # Create tag with gpgsign
    t = tag -s
    # Switching branch
    ck = checkout
    # Display log information with graph and color
    g = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    # Update all submodules, and init
    su = submodule update --init --recursive

[core]
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    # Set vim as the default editor
    editor = vim
    # setting for windows os
    # autocrlf = false
    # safecrlf = true

[commit]
    gpgsign = true
    # conventional git commit message specification
    template = ~/.gitmessage

[tag]
    gpgSign = true

# github.com/Microsoft/Git-Credential-Manager-for-Windows
# [credential]
    # helper = manager

[github]
    user = huiyifyj

# User socks5 proxy
# [http]
#     proxy = socks5://127.0.0.1:1080
# [https]
#     proxy = socks5://127.0.0.1:1080
