# vscode
.vscode

# vim and swap
.vim
*.swp

# JetBrains IDEs
*.iml
.idea

# Go Modules
go.sum

# rust cargo
Cargo.lock

# nvm, node, npm, yarn, pnpm, bun
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock
bun.lockb
.nvmrc
.npmrc

# macOS
.DS_Store

# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# database files
*.db
*.sqlite
*.sqlite3

# might appear on external disks
.Spotlight-V100
.Trashes
