; About annotation for .npmrc file to https://github.com/npm/ini

; default value config when running `npm init`
init.license=MIT
init.author.name=Huiyi.FYJ
init.author.email=jxfengyijie@gmail.com

sass_binary_site=https://npm.taobao.org/mirrors/node-sass
electron_mirror=https://npm.taobao.org/mirrors/electron/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs

; windows os setting for node and npm config
; prefix=D:\node\node_global
; cache=D:\node\node_cache
