; About annotation for .npmrc file to https://github.com/npm/ini

; default value config when running `npm init`
init-license=MIT
init-author-name=Feng.YJ
init-author-email=i@fengyj.cn
init-author-url=https://fengyj.cn

; Remove prefix, nvm isn't compatible with the npm config "prefix" option
; prefix=/home/fyj/node/npm/bin
; cache=/home/fyj/node/npm/cache

; windows os setting for node and npm config
; Not recommend if you use 'scoop' to install node
; https://github.com/ScoopInstaller/Main/blob/master/bucket/nodejs.json#L27
; prefix=D:\.node\node_global
; cache=D:\.node\node_cache

sass_binary_site=https://npm.taobao.org/mirrors/node-sass
electron_mirror=https://npm.taobao.org/mirrors/electron/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
sqlite3-binary-site=https://npm.taobao.org/mirrors/sqlite3
